%nav.navbar.navbar-default
  .navbar-brand
    = link_to "Susu<span class='green-bank'>Bank</span>".html_safe, root_path, id: 'logo'

  #sign_in_status.navbar-right
    = render partial: 'shared/sign_in_status'