/*
===============
Dashboard
===============
*/


/* Dashboard Bar
  ====================
*/
.dashboard-toolbar {
  height: 62px;
  box-shadow: inset 0px 2px 5px rgba(255,255,255, .3);
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  p {
    float: right;
    color: #FFF;
    padding: 15px 20px;
  }
}

a#dashboard {
  color: #FFF;
  font-size: 36px;
  text-decoration: none;
  padding-left: 100px;
}

/* Dashboard toolbar / controls
  ====================
*/

#banker_control_panel {
  margin: 0 auto;
  width: 100%;
  background-color: rgba(164, 193, 193, 1);
  height: 230px;
  padding: 10px;
}

.welcome-box {
  float: left;
  width: 255px;
  height: 230px;
  margin-left: 30px;
  margin-top: -10px;
  border: 1px solid rgba(119, 136, 155, 0.3);
  border-right: none;
  .user-greeting {
    color: #FFF;
    font-size: 30px;
  }
}

.dashboard-button {
  float: left;
  width: 174px;
  height: 231px;
  margin-top: -11px;
  border: 1px solid rgba(119,136,155, .3);
  color: #FFF;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 20px;
}

.dashboard-button.first {
  margin-left: 50px;
}

.dashboard-button > a {
  position: relative;
  top: -16px;
  font-size: 24px;
  text-decoration: none;
  display: block;
  width: 174px;
  height: 230px;
}



