@import 'color_palette';

/*
===============
Navigation Area
===============
*/

/* Top Level Navigation
  ====================
*/
nav.navbar.navbar-default {
  background-color: #222;
  height: 52px;
  border-bottom: 2px solid #000;
  padding-top: 9px;
  margin-bottom: 0px
}

/*Two part logo colors*/
a#logo {
  color: #FFF;
  font-size: 1.6em;
  text-decoration: none;
  .green-bank {
    color: $base-green;
  }
}

#sign_in_status {
  font-size: 18px;
  margin-right: 10px;
  color: #FFF;
  a {
    color: $base-green;
  }
}

#message_panel {
  height: 50px;
  background-color: $base-aqua-blue-D5;
  text-align: center;
  color: #FFF;
  font-size: 21px;
  letter-spacing: 1px;
  padding-top: 5px;
}


