/*
===============
Navigation Area
===============
*/

/* Top Level Navigation
  ====================
*/
nav.navbar.navbar-default {
  background-color: #222;
  height: 52px;
  border-bottom: 2px solid #000;
  padding-top: 9px;
  margin-bottom: 0px
}

/*Two part logo colors*/
a#logo {
  color: #FFF;
  font-size: 1.6em;
  text-decoration: none;
  .green-bank {
    color: #a4b357;
  }
}

div#sign_in_status {
  font-size: 18px;
  margin-right: 10px;
  color: #FFF;
}
