/*
===============
Navigation Area
===============
*/

/* Top Level Navigation
  ====================
*/
nav.navbar.navbar-default {
  background-color: #222;
  height: 50px;
  border-bottom: 2px solid #000;
  padding-top: 9px;
}

a#logo {
  color: #FFF;
  padding: 10px 30px;
  font-size: 1.6em;
  text-decoration: none;
}

div#sign_in_status {
  font-size: 18px;
  margin-right: 10px;
  color: #FFF;
}
/* Dashboard Bar
  ====================
*/
.dashboard-bar {
  box-shadow: inset 0px 2px 5px rgba(255,255,255, .3);
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

a#dashboard {
  color: #FFF;
  font-size: 36px;
  text-decoration: none;
  padding-left: 61px;
}
