body#show-susu-container {
  /*background-image: url('green_cup.png');*/
}

.susu {
  width: 300px;
  height: 260px;
  border-radius: 10px;
  margin: 10px;
  float: left;
  box-shadow: 0px 4px 14px #999;
  .header {
    background-color: rgb(1, 113, 198);
    height: 80px;
  }
}
.info {
  margin: 10px 40px 40px;
  p {
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 20px;
  }
}

.pointer {
  background-color: rgb(0, 63, 109);
  height: 100%;
  width: 12%;
  float: right;
}

span.susu-name {
  float: left;
  margin: 20px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 4px #000;
}